<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        form{
            background: aqua;
        }
    </style>
</head>
<body>
        <div>
            <h1>
                {{post.title}}
            </h1>
            <p>{{ post.author }}</p>
        </div>
        <div><span>{{ post.body }}</span></div>
        <p>{{ post.status }}</p>
        <div>{{ post.published }}</div>
        <div>{{ post.created }}</div>
        <div>{{ post.updated }}</div>

</body>
</html>
